@import "tailwindcss";

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

@media (min-width: 768px) {

    /* Ocultar cursor nativo en TODO, incluyendo botones y links */
    *,
    *::before,
    *::after,
    html,
    body,
    a,
    button,
    input,
    select,
    textarea,
    [role="button"] {
        cursor: none !important;
    }
}

/* Para Chrome, Safari y Opera */
::-webkit-scrollbar {
    display: none;
}

/* Para IE, Edge y Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}